.idee {
    top: 2em;
    height: 100vh;
    position: sticky;

}

.idee h2 {
    font-size: 48px;
    text-align: center;
}

.ideecontainer {
    vertical-align: middle;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2em;
    margin: 0 auto;
    max-width: 1240px;
}

.leftidee {
    position: relative;

}



.leftidee>div {

    width: 100%;
    height: auto;
    min-height: 600px;
    border-radius: 1em;
    object-fit: cover;
    background-color: var(--color-quote-bg);
    background-image: url('https://placehold.co/600x600');
}

.rightidee {
    align-self: center;
}

.rightidee h3 {
    margin-top: 0;
    font-size: 36px;
    margin-bottom: 0.2em;
}