/* SelectedWork.module.css */
.quote {
    padding-top: 4em;
    position: relative;
    height: 24em;
    padding-bottom: 6em;
    margin-bottom: 6em;
    background-color: white;
}

.fullwidthimg {
    position: sticky;
    top: 10em;
    background-color: green;
    width: 78em;
    height: 36em;
    border-radius: 0;
    transition: height 0.3s ease, border-radius 0.3s ease;
    margin: auto;
    overflow-x: hidden;
}


.phitem1 {
    background-image: url(https://vanleeuwenmedia.s3.eu-central-1.amazonaws.com/Pegasus1.jpg);
}

.phitem2 {
    aspect-ratio: 16/9;
    border-radius: 2em;
    width: 604px;
    background-color: var(--var-color-black);
    display: flex;
    align-items: center;
}

.phitem3 {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.4em solid var(--var-color-grey);
    color: var(--var-color-grey);
    width: 100%;
    height: 26em;
    position: relative;
    line-height: 1.2;
}

.title {
    margin-top: 1.2em;
    padding-top: .6em;
    font-size: 4.236rem;
    line-height: 0.7;
    text-align: center;
    position: relative;
    background-color: white;
    font-weight: 400;
    z-index: 1;
}

.category {
    list-style: none;
    font-size: 2.618rem;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    color: var(--var-color-white);
    line-height: 150%;
}

.credstitle {
    margin: 0 auto;
    padding: 1em 2em 0em 1em;
    font-size: 1.618rem;
    font-weight: 400;
    color: var(--var-color-white);
    mix-blend-mode: difference;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -11.5em;
}

.thumbnailWrapper {
    position: relative;
    width: 604px;
    height: auto;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease;
}


.thumbnailWrapper>img {
    width: 604px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
}

.slick-slide {
    overflow: hidden;
}

.banner {
    display: flex;
    width: 604px;
    aspect-ratio: 16/9;
    border-radius: 2em;
    height: auto;
    background-color: var(--var-color-black);
    padding: 2em;
    align-items: center;
}

.banner p {
    color: var(--var-color-white);
    font-size: 1.618rem;
    line-height: 122%
}

.video {
    width: 604px;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    border-radius: 1em;
    opacity: 0;
    transition: opacity 1s ease;
}

.video:hover {
    cursor: pointer;
}

.pegasusContainer, .lkqcContainer, .autoContainer, .bulaContainer, .lkqtContainer, .sweetbobContainer {
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    width: 604px;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 2em;
    object-fit: cover;
}

.pegasusContainer::before {

    content: 'Commercial';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.pegasusContainer::after {

    content: 'Pegasus | Jouw paard onze zorg';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.pegasusContainer:hover .video, .sweetbobContainer .video, .video {
    opacity: 1;
}

.sweetbobContainer::before {

    content: 'Commercial';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.sweetbobContainer::after {

    content: 'Sweetbob | Dare to share';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqtContainer::before {

    content: 'Corporate';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqtContainer::after {

    content: 'LKQ | The future is now';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqcContainer::before {
    content: 'Corporate';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqcContainer::after {

    content: 'LKQ | Keeping you moving';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.bulaContainer::before {
    content: 'Fictional';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.bulaContainer::after {
    content: 'Bula | Pano de prato';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.autoContainer::before {
    content: 'Commercial';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.autoContainer::after {

    content: 'Autofirst | Geen gedoe, goed geregeld';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}



.hidden {
    opacity: 0;
    pointer-events: none;
    /* Disable pointer events on the image */
}

.visible {
    opacity: 1;
}


/* NIEUW */

/* .workflex {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    padding-bottom: 2em;
} */

.workflex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60%;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    padding-bottom: 2em;
}

@media (max-width: 1530px) {

    .pegasusContainer, .lkqcContainer, .autoContainer, .bulaContainer, .lkqtContainer, .sweetbobContainer {
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        width: 560px;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 2em;
        object-fit: cover;
    }

    .phitem2 {
        width: 560px;
    }

    .banner {
        width: 560px;
        margin: 0;
    }

    .video {
        width: 560px;
    }

    .thumbnailWrapper {
        width: 560px;
    }

}

@media (max-width: 1420px) {

    .pegasusContainer, .lkqcContainer, .autoContainer, .bulaContainer, .lkqtContainer, .sweetbobContainer {
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        width: 500px;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 2em;
        object-fit: cover;
    }

    .phitem2 {
        width: 500px;
    }

    .banner {
        width: 500px;
    }

    .banner>p {
        font-size: 24px;
        margin: 0;
    }

    .video {
        width: 500px;
    }

    .thumbnailWrapper {
        width: 500px;
    }

}

@media (max-width: 1270px) {

    .pegasusContainer, .lkqcContainer, .autoContainer, .bulaContainer, .lkqtContainer, .sweetbobContainer {
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        width: 460px;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 2em;
        object-fit: cover;
    }

    .phitem2 {
        width: 460px;
    }

    .banner {
        width: 460px;
        line-height: 100%;
        margin-top: 0%;
    }

    .banner>p {
        font-size: 20px;
        line-height: normal;
        margin: 0;
    }

    .video {
        width: 460px;
    }

    .thumbnailWrapper {
        width: 460px;
    }


}

@media (max-width: 768px) {
    .pegasusContainer, .lkqcContainer, .autoContainer, .bulaContainer, .lkqtContainer, .sweetbobContainer {
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        width: 992px;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 2em;
        object-fit: cover;
    }

    .pegasusContainer::before, .pegasusContainer::after, .lkqcContainer::before, .lkqcContainer::after, .autoContainer::before, .autoContainer::after, .bulaContainer::before, .bulaContainer::after, .lkqtContainer::before, .lkqtContainer::after, .sweetbobContainer::before, .sweetbobContainer::after {
        font-size: 24px;
        text-shadow: 0px 0px 8px black;
    }

    .phitem2 {
        width: 992px;
    }

    .banner {
        width: 992px;
        line-height: 100%;
        margin-top: 0%;
    }

    .banner>p {
        padding: 2em;
        font-size: 36px;
        line-height: normal;
        margin: 0;
    }

    .video {
        width: 992px;
    }

    .thumbnailWrapper {
        width: 992px;
    }
}

@media (max-width: 425px) {
    .pegasusContainer::before, .pegasusContainer::after, .lkqcContainer::before, .lkqcContainer::after, .autoContainer::before, .autoContainer::after, .bulaContainer::before, .bulaContainer::after, .lkqtContainer::before, .lkqtContainer::after, .sweetbobContainer::before, .sweetbobContainer::after {
        font-size: 32px;
        text-shadow: 0px 0px 16px black;
    }
}