/* SelectedWork.module.css */
.quote {
    padding-top: 6em;
    position: relative;
    height: 24em;
    padding-bottom: 6em;
    margin-bottom: 6em;
    background-color: white;
}

.sworkcontainer {
    margin: 0 auto;
    transform: translateX(0);
    position: relative;
    max-width: 1600px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.wrapperwork {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    position: relative;
    z-index: 1;
    background-color: white;
}

.fullwidthimg {
    position: sticky;
    top: 10em;
    background-color: green;
    width: 78em;
    height: 36em;
    border-radius: 0;
    transition: height 0.3s ease, border-radius 0.3s ease;
    margin: auto;
    overflow-x: hidden;
}

.leftcolumn {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin-bottom: 2em;
}

.rightcolumn {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin-bottom: 2em;
}

.rightcolumn>a>div,
.leftcolumn>a>div {
    width: 47.5em;
    height: 25.5em;
    border-radius: 1em;
    object-fit: fill;
    background-size: 47.5em;

    overflow: hidden;
}

.rightcolumn>div,
.leftcolumn>div {
    width: 47.5em;
    height: 25.5em;
    border-radius: 1em;
    object-fit: fill;
    background-size: 47.5em;

    overflow: hidden;
}

.phitem1 {
    background-image: url(https://vanleeuwenmedia.s3.eu-central-1.amazonaws.com/Pegasus1.jpg);
}

.phitem2 {
    background-color: var(--var-color-black);
    display: flex;
    align-items: center;
}

.phitem3 {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.4em solid var(--var-color-grey);
    color: var(--var-color-grey);
    width: 100%;
    height: 26em;
    position: relative;
    line-height: 1.2;
}

.title {
    margin-top: 1em;
    padding-top: .2em;
    font-size: 4.236rem;
    line-height: 0.7;
    text-align: center;
    position: relative;
    background-color: white;
    font-weight: 400;
    z-index: 1;
}

.category {
    list-style: none;
    font-size: 2.618rem;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    color: var(--var-color-white);
    line-height: 150%;
}

.credstitle {
    margin: 0 auto;
    padding: 1em 2em 0em 1em;
    font-size: 1.618rem;
    font-weight: 400;
    color: var(--var-color-white);
    mix-blend-mode: difference;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -11.5em;
}

.thumbnailWrapper {
    position: relative;
    width: 47.5em;
    height: 25.5em;
    opacity: 1;
    transition: opacity 0.3s ease;
}


.thumbnailWrapper>img {
    width: 47.5em;
    height: 25.5em;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
}

.slick-slide {
    overflow: hidden;
}

.banner {
    display: flex;
    width: 47.5em;
    height: 25.5em;
    background-color: var(--var-color-black);
    padding: 2em;
    align-items: center;
}

.banner p {
    color: var(--var-color-white);
    font-size: 1.618rem;
    line-height: 150%
}

.video {
    width: 47.5em;
    height: 25.5em;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    border-radius: 1em;
    opacity: 0;
    transition: opacity 1s ease;


}


.video:hover {
    cursor: pointer;
}

.pegasusContainer {
    position: relative;
    overflow: hidden;
    width: 47.5em;
    height: 25.5em;

}

.pegasusContainer::before {

    content: 'Commercial';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.pegasusContainer::after {

    content: 'Pegasus | Jouw paard onze zorg';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.pegasusContainer:hover .video, .sweetbobContainer .video {
    opacity: 1;
}

.sweetbobContainer {
    position: relative;
    overflow: hidden;
    width: 47.5em;
    height: 25.5em;

}

.sweetbobContainer::before {

    content: 'Commercial';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.sweetbobContainer::after {

    content: 'Sweetbob | Dare to share';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqtContainer {
    position: relative;
    overflow: hidden;
    width: 47.5em;
    height: 25.5em;

}

.lkqtContainer::before {

    content: 'Corporate';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqtContainer::after {

    content: 'LKQ | The future is now';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqcContainer {
    position: relative;
    overflow: hidden;
    width: 47.5em;
    height: 25.5em;

}

.lkqcContainer::before {
    content: 'Corporate';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqcContainer::after {

    content: 'LKQ | Keeps you moving';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.bulaContainer {
    position: relative;
    overflow: hidden;
    width: 47.5em;
    height: 25.5em;

}

.bulaContainer::before {
    content: 'Fictional';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.bulaContainer::after {

    content: 'Bula | Pano de prato';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}


.autoContainer {
    position: relative;
    overflow: hidden;
    width: 47.5em;
    height: 25.5em;

}

.autoContainer::before {
    content: 'Commercial';
    font-size: 1rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.autoContainer::after {

    content: 'Autofirst | Geen gedoe, goed geregeld';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}



.hidden {
    opacity: 0;
    pointer-events: none;
    /* Disable pointer events on the image */
}

.visible {
    opacity: 1;
}