/* SelectedWork.module.css */
.quote {
    padding-top: 4em;
    position: relative;
    height: 24em;
    padding-bottom: 6em;
    margin-bottom: 6em;
    background-color: white;
}

.fullwidthimg {
    position: sticky;
    top: 10em;
    background-color: green;
    width: 78em;
    height: 36em;
    border-radius: 0;
    transition: height 0.3s ease, border-radius 0.3s ease;
    margin: auto;
    overflow-x: hidden;
}


.phitem1 {
    background-image: url(https://vanleeuwenmedia.s3.eu-central-1.amazonaws.com/Pegasus1.jpg);
}

.phitem2 {
    aspect-ratio: 16/9;
    border-radius: 1em;
    width: 100%;
    background-color: var(--var-color-black);
    display: flex;
    align-items: center;
}

.phitem3 {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.4em solid var(--var-color-grey);
    color: var(--var-color-grey);
    width: 100%;
    height: 26em;
    position: relative;
    line-height: 1.2;
}

.title {
    margin-top: 0.8em;
    font-size: 3.375rem;
    text-align: center;
    position: relative;
    background-color: white;
    font-weight: 600;
    z-index: 1;
}

.category {
    list-style: none;
    font-size: 2.618rem;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    color: var(--var-color-white);
    line-height: 150%;
}

.credstitle {
    margin: 0 auto;
    padding: 1em 2em 0em 1em;
    font-size: 1.618rem;
    font-weight: 400;
    color: var(--var-color-white);
    mix-blend-mode: difference;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -11.5em;
}

.thumbnailWrapper {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease;
}


.thumbnailWrapper>img {
    width: 604px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
}

.slick-slide {
    overflow: hidden;
}

.banner {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1em;
    height: auto;
    background-color: var(--var-color-black);
    padding: 2em;
    align-items: center;
}

.banner p {
    color: var(--var-color-white);
    font-size: 1.618rem;
    line-height: 122%
}

.video {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    border-radius: 1em;
    opacity: 0;
    transition: opacity 1s ease;
}

.video:hover {
    cursor: pointer;
}

.pegasusContainer, .lkqcContainer, .autoContainer, .bulaContainer, .lkqtContainer, .sweetbobContainer {
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 1em;
    object-fit: cover;
}

.pegasusContainer::before {

    content: 'Commercial';
    font-size: 1.5rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.pegasusContainer::after {

    content: 'Pegasus | Jouw paard onze zorg';
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.pegasusContainer:hover .video, .sweetbobContainer .video, .video {
    opacity: 1;
}

.sweetbobContainer::before {

    content: 'Commercial';
    font-size: 1.5rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.sweetbobContainer::after {

    content: 'Sweetbob | Dare to share';
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqtContainer::before {

    content: 'Corporate';
    font-size: 1.5rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqtContainer::after {

    content: 'LKQ | The future is now';
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqcContainer::before {
    content: 'Corporate';
    font-size: 1.5rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.lkqcContainer::after {

    content: 'LKQ | Keeping you moving';
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.bulaContainer::before {
    content: 'Fictional';
    font-size: 1.5rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.bulaContainer::after {
    content: 'Bula | Pano de prato';
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.autoContainer::before {
    content: 'Commercial';
    font-size: 1.5rem;
    position: absolute;
    color: var(--var-color-white);
    bottom: 2.5em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.autoContainer::after {

    content: 'Autofirst | Geen gedoe, goed geregeld';
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: var(--var-color-white);
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}



.hidden {
    opacity: 0;
    pointer-events: none;
    /* Disable pointer events on the image */
}

.visible {
    opacity: 1;
}


/* NIEUW */

/* .workflex {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    padding-bottom: 2em;
} */

.workflex {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    padding-left: 1em;
    padding-right: 1em;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    padding-bottom: 2em;
    z-index: 3;
}

.categories li {
    font-size: 2.25rem;
    padding: 0.5em;
    color: black;
    border-radius: 0.5em;
    background-color: var(--color-quote-bg);
    transition: 0.5s ease;

}

.categories li:hover {
    background-color: var(--var-color-orange);
    color: white;
    transition: 0.5s ease;
}

@media (max-width: 1024px) {
    .workflex {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1440px) {
    .banner p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    .category {
        font-size: 1.5rem;
    }
}