.pagetitle {
    font-size: 3.375rem;
    text-align: right;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    height: auto;
    background-color: white;
    z-index: 2;
}

.grid>div {
    position: relative;
    height: 8em;
    min-width: 404px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 1em;
    padding: 1.5em;
    transition: 0.5s ease;
}

.grid>div:hover {
    background-color: var(--var-color-orange);
    transition: 0.5s ease;
}

.grid>div:hover p, .grid>div:hover h3 {
    color: white;
    transition: 0.5s ease;
}

.grid>div:hover svg>path {
    fill: white;
    transition: 0.5s ease;
}

.grid>div>svg {
    align-self: center;
    flex-basis: 20%;
    transition: 0.5s ease;
}

.grid>div>div {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    width: 100%;
    align-self: center;
    text-align: left;
    padding-left: 1em;
    gap: 0.1em;


}

.grid>div>div h3, .grid>div>div p {
    margin-top: 0;
    margin-bottom: 0;
    flex-basis: 80%;
    transition: 0.5s ease;

}

.grid>div>div>a {
    flex-basis: 80%;
}

.grid>div:first-child {
    align-items: center;
    align-self: center;
}

.grid h3 {
    color: var(--var-color-black);
    font-size: 2.25rem;
    margin-bottom: 0;
    font-weight: 400;
}

.grid h4 {
    font-weight: 400;
    color: var(--var-color-black);
    font-size: 1.5rem;
    margin-bottom: 0;
}

.grid p {
    color: var(--var-color-black);
    font-size: 1rem;
    margin-top: 0em;
}

.contactcontainer {
    gap: 2em;
    margin: 0 auto;
    max-width: 60%;
    min-width: 682px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.bedrijfflex {
    display: flex;
}

.bedrijf {
    height: max-content;
    margin: auto;
    width: 60%;
    min-width: 682px;
}

div.bedrijf>div.grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

div.bedrijf>div.grid>div {
    min-width: 250px !important;

}

.contactperson {
    position: relative;
    height: 100%;
    text-align: center;
}

.contactperson h3 {
    margin-top: 0.4em;
    margin-bottom: 0;
    font-size: 2.25rem;
}

.contactperson h4 {
    margin-top: 0.2em;
    font-size: 1.5rem;
    font-weight: 400;
}

.contactperson img {
    border-radius: 100%;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-position: center;
}

.socials {
    margin: 0 auto;
    padding-left: 0 !important;
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    transition: 0.5s ease;
    justify-content: space-around !important;
    flex-basis: 100%;
}

.socials>div {
    transition: 0.5s ease;
}

.socials>div:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
}

div.socials>div>svg>path {
    transition: 0.5s ease;

}

.contactpage {
    position: relative;
    z-index: 2;
    background-color: white;
    padding-bottom: 2em;
}

.bedrijftext {
    font-size: 36px;
    font-weight: 400;
}

.introcontainer {
    max-width: 80%;
    text-align: center;
    min-width: 404px;
    margin: 0 auto;
    font-size: 3.375em;
    line-height: normal;
}

.titlecontainer {
    max-width: 80%;
    margin: 0 auto;
    padding-right: 1em;
}



@media (max-width: 1440px) {
    .contactcontainer {
        position: relative;
        height: 100%;
        align-items: flex-start;
    }

    .grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;

    }

    .contactperson {
        margin-top: 0;

    }
}

@media (max-width: 1024px) {
    .grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
    }

    .contactperson {
        margin-top: 0;

    }

    .introcontainer {
        font-size: 36px;
        text-align: center;
    }

    .bedrijftext {
        text-align: center;
    }
}

@media (max-width: 768px) {

    .contactcontainer {
        grid-template-columns: 1fr;
        max-width: 91%;
        min-width: unset;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .contactperson img {
        max-width: 300px;
        min-width: 300px;
    }

    .bedrijf {
        width: 91%;
        min-width: unset;
    }

    .socials {
        width: 80%;
    }

    .pagetitle {
        margin: auto;
        padding-right: 0;
    }

    .titlecontainer {
        max-width: 91%;
        margin: 0 auto;
        padding-right: 0em;
    }


}

@media (max-width: 568px) {
    .grid>div {
        min-width: unset;
    }
}

@media (max-width: 425px) {
    .pagetitle {
        font-size: 30px;
    }

    .introcontainer {
        max-width: 60%;
        width: 80%;
        font-size: 30px;
    }

    .grid>div>div h3 {
        font-size: 20px;
    }

    .contactcontainer {
        margin-top: 2em;
    }

    .grid>div {
        padding: 1em;
    }

    .grid {
        gap: 1em;
    }

    .contactperson h3 {
        font-size: 30px;
    }

    .contactperson h4 {
        font-size: 20px;
    }

    .bedrijftext {
        font-size: 20px;
    }
}