div.footerflex {
    width: 100%;
    background-color: var(--var-color-black);
    padding: 2em 0em 2em 0em;
}

a.footercontainer {
    text-decoration: none;
    color: var(--var-color-white);
}

div.footercontainer>ul>li {
    line-height: 155%;
}

.footercontainer {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: var(--var-color-white);
    font-size: 1em;
    text-align: left;
}

.footercontainer>ul {
    list-style: none;
    padding: 0;
}

.footercontainer>h2 {
    text-align: center;
}