.ctabox {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.ctatext {
    color: black;
    font-weight: 400;
    text-align: center;
    /* transition: 0.2s ease; */

}

.ctatext:hover {
    color: var(--var-color-orange);
    /* transition: 0.2s ease; */
}