.ctabox {
    overflow: visible;
    margin: 0 auto 2em auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: white;
    width: 80%;
    text-align: center;
    transform-origin: center;
}

.ctatext {
    color: black;
    font-weight: 400;
    text-align: center;
    /* transition: 0.2s ease; */
    white-space: nowrap;
}

.ctatext:hover {
    color: var(--var-color-orange);
    /* transition: 0.2s ease; */
}

@media (max-width: 768px) {
    .ctabox {
        width: 91%;
        height: 25vh;
    }
}