.aboutpage {
    position: relative;
    background-color: white;
    height: max-content;
}

.aboutcontainer, .aboutcontainer2 {
    height: 20em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto 2em auto;
    padding: 0em 1em 0em 1em;
}

.aboutcontainer p, .aboutcontainer2 p {
    margin-top: 0;
    font-size: 1.5rem;
}

.aboutcontainer2 a {
    display: inline-flex;
    margin: 0 auto;
}


.imgbg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: 100%;
    background-position: 25%;
    background-image: url(https://vanleeuwenmedia.s3.eu-central-1.amazonaws.com/Pegasus/Pegasus3.jpg);
    border-radius: 1em;
}

.imgbg2 {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: 100%;
    background-position: 25%;
    background-image: url(https://vanleeuwenmedia.s3.eu-central-1.amazonaws.com/Bula/bula1.jpg);
    border-radius: 1em;
}

.servicebutton {
    margin-top: 2em;
    border: 2px solid black;
    color: black;
    padding: 0.8em 1.2em 0.8em 1.2em;
    border-radius: 2em;
    transition: 0.5s ease;
    font-size: 36px;
    text-align: center;

}

.servicebutton:hover {
    background-color: var(--var-color-orange);
    border: 2px solid var(--var-color-orange);
    color: white;
    transition: 0.5s ease;
}


.grid {
    max-width: 1240px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    margin: 0 auto;
    gap: 1em;
}

.grid>div {
    border-radius: 1em;
    margin: 0;
}

.grid>div:first-child {
    padding: 2em;

}

.grid>div>img {
    width: 100%;
    min-height: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 1em;
    object-fit: cover;
}

.grid2 {
    max-width: 1240px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    margin: 0 auto;
    gap: 1em;
    margin-top: 1em;
}

.grid2>div {
    border-radius: 1em;
    margin: 0;
    object-fit: contain;
}

.grid2>div:last-child {
    padding: 2em;

}

.grid2>div>img {
    width: 100%;
    min-height: 100%;
    height: 300px;
    border-radius: 1em;
    object-fit: cover;
}

.aboutpage p {
    font-size: 36px;
}

.pagetitle {
    text-align: right;
    font-size: 3.375rem;
}

.aboutwidth {
    position: relative;
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 1em;
}

.w72 {
    max-width: 72%;
}

.rightcont {
    max-width: 73%;
    font-size: 36px;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: 0;

}

.aboutpage h3 {
    font-size: 54px;
    font-weight: 400;
}


.overonsfotos {
    width: 100%;
    border-radius: 1EM;
    text-align: center;
    margin: 0 auto;
}

.aboutimages {
    display: flex;
    gap: 2em;
    flex-direction: row;
    width: 50%;
}

.teamtext {
    text-align: right;
    font-size: 3.375rem;
}



@media (max-width: 1024px) {
    .rightcont {

        margin-top: 1.5em;
        margin-bottom: 2em;
    }


    .pagetitle {
        font-size: 2.25rem;
    }

    .aboutwidth p {
        font-size: 1.2rem;
        margin-bottom: 0em;
    }

    .aboutpage h3 {
        font-size: 20px;
        font-weight: 600;
    }

    .aboutpage p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .teamtext {
        text-align: right;
        font-size: 2.25rem;
    }

    .aboutimages {
        display: flex;
        gap: 2em;
        flex-direction: column;
        width: 100%;
    }

    .aboutwidth {
        max-width: 91%;
    }

    .w72 {
        max-width: 100%;
    }

    .rightcont {
        max-width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .servicebutton {
        font-size: 24px;
    }

}

@media (max-width: 425px) {
    .teamtext {
        font-size: 2.25rem;
        margin-bottom: 0;
        margin-top: 2em;
    }

}