.page {
    z-index: 2;
    position: relative;
    background-color: white;
}


.videocontainer {
    width: 80%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

.videocontainer h3 {
    font-size: 2.25rem;
    margin-top: 0.8em;
    margin-bottom: 0;
}

.videocontainer p {
    font-size: 1.5rem;
    margin-top: 0;
}

.videocontainer ul {
    list-style: none;
    margin-top: 0.8em;
    font-size: 1.5rem;
}

.videocontainer ul>li::before {
    content: '\2022';
    color: var(--var-color-orange);
    margin-right: 0.6em;
    font-weight: bold;
    width: 2em;
}


.videocontainer video {
    width: 100%;
    border-radius: 1em;
}


.infoflex {
    display: flex;
    gap: 6em;
}

.diensten {
    padding-right: 1em;
    position: absolute;
    right: 0;
}

.grid {
    margin-top: 2em;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
    align-items: center;
    padding-bottom: 2em;
}

.grid p {
    font-size: 2.25rem;
}

.gridimgs img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 1em;
}

.backarrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.title {
    text-align: center;
    font-size: 3.375rem;
    font-weight: 400;
}

@media (max-width: 1400px) {
    .grid p {
        font-size: 1.5rem;
    }

    .grid {
        gap: 2em;

    }
}

@media (max-width: 1024px) {
    .backarrow {
        margin: auto;
        width: 91%;
    }

    .videocontainer {
        width: 91%;
        padding: 0;
    }

    .diensten {
        padding-right: 0;
    }

    .title {
        font-size: 2.25rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {

    .infoflex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    .diensten {
        position: relative;
        padding: 0;
    }

    .diensten ul {
        padding-left: 0;
    }
}

@media (max-width: 640px) {
    .videocontainer h3 {
        font-size: 30px;
    }

    .videocontainer p {
        font-size: 20px;
    }

    .diensten ul {
        font-size: 20px;
    }

    .grid p {
        font-size: 16px;
    }

    .grid {
        margin-top: 1.5em;
    }
}

@media (max-width: 425px) {
    .diensten ul {
        font-size: 1rem;
    }
}