@font-face {
  font-family: 'Nunito Sans';
  src: url('../public/nunito-sans.regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url(../public/nunito-sans.bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url(../public/nunito-sans.semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'product_sansbold_italic';
  src: url('/public/product_sans_bold_italic-webfont.woff2') format('woff2'),
    url('/public/product_sans_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'product_sansbold';
  src: url('/public/product_sans_bold-webfont.woff2') format('woff2'),
    url('/public/product_sans_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'product_sansitalic';
  src: url('/public/product_sans_italic-webfont.woff2') format('woff2'),
    url('/public/product_sans_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'product_sansregular';
  src: url('/public/product_sans_regular-webfont.woff2') format('woff2'),
    url('/public/product_sans_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --var-color-white: #fffdfb;
  --var-color-black: #111111;
  --var-color-grey: grey;
  --var-color-orange: #FF8500;
  --var-color-ph: #D9D9D9;
  --var-gradient-dark: linear-gradient(180deg, #161616 0%, #000000 100%);
  --color-quote-bg: #F4F4F4;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--var-color-orange);
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffac52;
}


.MuiTypography-root {
  font-family: 'product_sansregular', sans-serif !important;
}

.MuiAccordion-region {
  color: var(--var-color-grey);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'product_sansregular', sans-serif;
  top: 0;
  overflow-x: hidden;
}


h2, h3 {
  line-height: 111.4%
}

.navbar {
  position: relative;
  z-index: 2;
  color: var(--var-color-white);
  top: 0;
  display: flex;
  gap: 1em;
  width: 100%;
  padding: 4em;
}

.logo {
  position: absolute;
  left: 0;
  top: -2.8em;
}

.navbar-container {
  position: relative;
  flex-direction: row;
  gap: 2em;
  margin: 0 auto;
  display: flex;
  width: 75vw;
  align-items: center;
  justify-content: flex-end;
}

.navbar-container:first-child>div {
  position: absolute;
  left: 0;
}

a {
  text-decoration: none
}

.navbar-container>a {
  mix-blend-mode: difference;
  color: var(--var-color-black);

  font-weight: 700;
  transition: 0.5s ease;
}

.navbar-container>a:hover {
  transition: .5s ease;
  color: var(--var-color-orange);
}

.color-orange {
  color: var(--var-color-orange);
}

.color-orange-bold {
  color: var(--var-color-orange);
  font-weight: 700;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.herotxt {
  font-size: 4.236rem;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 20em;
}

div.footerflex {
  display: block;
  margin: 0 auto;

  width: 100%;
  height: 30em;

  background-color: var(--var-color-black);
  padding: 2em 0em 2em 0em;
  z-index: 0;
}

.footercontainer>ul>li>a {
  text-decoration: none;
  color: var(--var-color-white);
}

div.footercontainer>ul>li {
  line-height: 155%;
}

.footercontainer {
  box-sizing: border-box;
  position: fixed;
  width: 1240px;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  z-index: 0;
  justify-content: space-between;
  color: var(--var-color-white);
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  flex-wrap: wrap;
}

div.footercontainer>ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.footercontainer>h2 {
  text-align: center;
}

ul.socials {
  display: flex;
  gap: 1em;
  align-items: center;
}

ul.socials>li>img {
  width: 2em;
  height: 2em;
}

ul.info {
  justify-content: right;
  gap: 5em;
  display: flex;
  flex-basis: 100% !important;
  flex-direction: row !important;
}

.ctacontainer {
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  bottom: 13em;
  position: fixed;
  display: flex;
  justify-items: center;
  height: 16em;
}

.cta {
  margin: 0 auto;
  text-align: center;
}

.cta>p {
  font-size: 48px;
  font-weight: bold;
  color: var(--var-color-white);
}

img.br {
  border-radius: 1em;
}

.cta>a {


  display: none;


  position: relative;
  color: var(--var-color-white);
  background-color: var(--var-color-orange);
  padding: 1em 2em 1em 2em;
  border-radius: 1em;
  z-index: 0;
}