.teamcontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    margin: 0 auto;
    gap: 1em;
}

.teammember {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.teammember>img {
    height: 402px;
    border-radius: 1em;
}